body {
  background: rgb(105,174,223);
  background: linear-gradient(150deg, rgba(105,174,223,1) 0%, rgba(206,110,217,1) 17%, rgba(233,97,28,1) 100%);
  width: 100vw;
  height: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
